body{
    margin: 0%;
}
.header{
    background-color: #f0f0f0;
    display: flex;
    justify-content:space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    height: 70px;
    width: 100px;
    margin: 3px 20px 0px 15px;
}
.nav-items{
    margin:3px 100px;
}
.nav-items>ul{
    list-style: none;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-items>ul>li{
    margin-left: 30px;
    margin-right: 30px;
    margin-top:8px ;
    margin-bottom: 3px;
}
.res-card{
    height: 288px;
    width: 278px;
    margin: 20px 20px;
    transition: transform 0.1s; 
}
.res-card:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.res-img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.res-details{
    padding: 0px 15px;
}
.res-container{
    display: flex;
    flex-wrap:wrap;
    margin-left: 35px;
}